<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeet | Component Library</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to Ranjeet's <span class="spantext"> Component Library.</span></h1>
    <p class="text">I am working on a component library which would make my projects look good and consistent.</p>
    <hr>
    <h2 class="heading_inside">@typography</h2>
    <h1>This is a h1 heading.</h1>
    <h2>This is a h2 heading.</h2>
    <p>This is a paragraph.</p>
    <small>This is comparatievly <strong>small</strong> text than others.</small>
    <hr>
    <h2 class=heading_inside>@containers</h2>
    <h3 class="container">Fluid container</h3>
    <div class="container">This is a fluid container going from end to end. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptas nostrum porro autem. Nobis quaerat provident nulla ut totam quidem pariatur harum
        voluptates rerum doloremque quia maiores dolorem, perspiciatis cum et.</div>
    <h3 class="container">Center container</h3>
    <div class="container-center">This is a center container. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Vel maxime harum dignissimos perspiciatis. Adipisci illo rerum sint nam quaerat quasi? Eos rerum eligendi vitae
        iusto itaque cupiditate veritatis nesciunt quibusdam.</div>
    <hr>
    <h2 class=heading_inside>@links</h2>
    <div class="container">
        <a href="/" class="buttons links primary-link">Primary links</a>
        <a href="/" class="buttons links secondary-link">Secondary links</a>
    </div>
    <hr>
    <h2 class=heading_inside>@lists</h2>
    <h3>Unorderd list</h3>
    <ul class="lists">
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ul>
    <h3>Inline list</h3>
    <ul class="inline-list">
        <li class="inline-list-items">Item a</li>
        <li class="inline-list-items">Item b</li>
        <li class="inline-list-items">Item c</li>
    </ul>
    <h3>Reverse order list</h3>
    <ol reversed>
        <li>item</li>
        <li>item</li>
        <li>item</li>
    </ol>
    <hr>
    <h2 class=heading_inside>@nav</h2>
    <nav class="navbar">
        <h2 class="brand-title">BrandName</h2>
        <ul class="links">
            <li class="inline-list-items"><a href="/" class="nav-links">Home</a></li>
            <li class="inline-list-items"><a href="/" class="nav-links">Projects</a></li>
            <li class="inline-list-items"><a href="/" class="nav-links">Blogs</a></li>
        </ul>
    </nav>
    <hr>
    <h2 class=heading_inside>@header</h2>
    <header class="container">
        <img src="/images/Hero.svg" alt="" class="hero-img">
        <h1 class="hero-text">Header text goes here.</h1>
    </header>
    <hr>
    <h2 class=heading_inside> @section</h2>
    <section>
        <h3 class="sec-heading">White Section</h3>
        <div class="sec-text">This will have a White background. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio numquam possimus earum facilis rerum, dolorem amet itaque magni dolores odit perspiciatis minima, quaerat soluta culpa cum reprehenderit mollitia vitae.</div>
    </section>
    <section class="sec-off-white">
        <div class=" container-center">
            <h3 class="sec-heading ">Off-White Section</h3>
            <div class="sec-text">This will have a grey background. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio numquam possimus earum facilis rerum, dolorem amet itaque magni dolores odit perspiciatis minima, quaerat soluta culpa cum reprehenderit mollitia vitae.</div>
        </div>
    </section>
    <hr>
    <h2 class="heading_inside">@footer</h2>
    <footer>
        <div class="footer-heading">This is our footer</div>
        <ul class="non-bullet-list">
            <li class="inline-list-items">
                <a href="https://www.linkedin.com/in/ranjeet-singh-a07017205/" class="nav-links">Linkdin</a>
            </li>
            <li class="inline-list-items">
                <a href="https://twitter.com/Ranjeet39287633" class="nav-links">Twitter</a>
            </li>
            <li class="inline-list-items">
                <a href="https://github.com/jeetsdev" class="nav-links">Github</a>
            </li>
        </ul>
    </footer>
</body>
</html>